body{
    background-color: #f1f1f1; 
}
footer{
    width: 100%;
    background-color: #000;
}
.navbar-custom {
    background-color: #000;
    font-family: 'Arial', sans-serif;
}
.navbar-custom .navbar-brand {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    color: #fff;
}
.navbar-custom .logout-link {
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-custom .logout-link:hover {
    color: #ccc;
}
.navbar-custom .logout-link i {
    margin-right: 5px;
}

section.vh-100.section-login{
    background-color: rgb(224, 224, 224);
}
/* Styling for the sidebar menu  */
.sidebar {
    min-height: 100vh;
    background-color: #ddd;
    padding: 20px;
}

.sidebar a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar a:hover{
    background-color: #000;
    color: white;
}

.sidebar a.active {
    background-color: #000;
    color: white;
}

/* .container-main {
    padding: 20px;
} */

.table th, .table td {
    vertical-align: middle;
}


.add-product {
    color: green;
    font-weight: bold;
}
button a.add_product:hover {
    color: black !important; /* Force text color to black */
}

.add-category {
    color: green;
    font-weight: bold;
}


/* Styling for the toggle navigation menu  */
.navbar-collapse .navbar-nav1 {
    display: block;
    padding: 10px;
    color: black !important; 
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #ddd; 
    border-radius: 5px;
}

.navbar-collapse .navbar-nav1 .nav-link:hover {
    background-color: #000; 
    color: white !important; 
}

.navbar-collapse .navbar-nav1 .nav-link.active {
    background-color: #000; 
    color: white !important; 
}
.navbar-brand {
    font-size: 1.25rem;
}
div.table-responsive{
    max-height: 85vh;
    overflow-y: auto;
}

th.product_name{
    width: 40%;
     
}

@media (max-width: 768px) {
    
    .sidebar {
        min-height: auto;
        padding: 10px;
    }
    .sidebar a {
        padding: 8px;
        font-size: 14px;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .btn-edit, .btn-delete {
        width: 100%;
        margin-bottom: 5px;
    }
}

.custom-form {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-form .form-label {
    font-weight: bold; 
    margin-bottom: 5px; 
}

.custom-form .form-control {
    border: 1px solid #ced4da; 
    border-radius: 4px; 
    transition: border-color 0.3s; 
}

.custom-form .form-control:focus {
    border-color: #495057; 
    box-shadow: 0 0 0 0.2rem rgba(66, 153, 225, 0.25); 
}

.btn-dark {
    background-color: #343a40;
    border-color: #343a40; 
}

.btn-dark:hover {
    background-color: #23272b;
    border-color: #1d2124;
}
